
html {
    height: -webkit-fill-available;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    /*    
    background: linear-gradient(334deg, rgb(137, 113, 168), rgb(0, 181, 221), rgb(126, 227, 149))
    */
    
    background: -webkit-linear-gradient(302deg, #72c2ff,#dfcbfe);
    background: linear-gradient(302deg, #72c2ff,#dfcbfe);                                        
}

.container {
    max-width: 400px;
    /*margin: 50px auto;*/
    /*margin: 5px;*/
    margin: 5px auto 5px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.selectWrapper {
    display: flex;
    flex-direction: column;
}

.double {    
    margin: -5px 0px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.doubleSelectWrapper {
    width: 48%;
}

.Selector {
    -webkit-appearance: initial;
    width: 100%;
    padding: 0px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;

    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 25px;
}

.vehicleContainer {
    width: 100%;
    border: none;
    border-radius: 5px;
}

.personalContainer {
    width: 100%;
    border: none;
    border-radius: 5px;
}

.promptField {
    -webkit-appearance: initial;
    display: block;
    height: 24px;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    padding-left: 8px;
    padding-right: 20px;
    border: 1px solid #999999;
    border-radius: 5px;
}

.productPromptSelectWrapper {
    display: none;
}
