
body, html {
    overflow: hidden;
}
  
body {
    height: 80%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7289DA; /* Цвет дискорда */
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.selectWrapper {
    position: relative; 
    width: inherit;
}

.double {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.doubleSelectWrapper {
    width: 48%;
}

.Selector {
    -webkit-appearance: initial;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;

    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 25px;
    transition: transform 0.3s ease;

}

.selectorArrow {
    position: absolute;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-top: 5px solid black;
    transition: transform 0.3s ease;
}

.leftArrow
{
    left: 43%;
}

.Selector:focus + .selectorArrow {
    transform: translateY(-50%) rotate(180deg);
}

.vehicleContainer {
    width: 100%;
    border: none;
    border-radius: 5px;
}

.inputTextField {
    width: -webkit-fill-available;
    padding: 10px 10px 10px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7289DA;
    color: #fff;
    cursor: pointer;
}